name: Release
on:
  push:
    branches: [main]
jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      id-token: write # Required for trusted publishing via OIDC (https://docs.npmjs.com/trusted-publishers)
    if: "contains(github.event.head_commit.message, 'chore(release): publish')"
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v4
        with:
          node-version: lts/*

      - name: Install dependencies
        run: yarn

      - name: Build
        run: yarn build

      - name: Publish to NPM
        run: npm run release:publish
